alabaster==0.7.13
attrs==22.2.0
Babel==2.11.0
beautifulsoup4==4.11.1
black==22.12.0
bleach==6.0.0
certifi==2022.12.7
charset-normalizer==3.0.1
click==8.1.3
colorama==0.4.6
defusedxml==0.7.1
docutils==0.17.1
entrypoints==0.4
exceptiongroup==1.1.0
fastjsonschema==2.16.2
gitchangelog==3.0.4
idna==3.4
imagesize==1.4.1
importlib-metadata==6.0.0
iniconfig==2.0.0
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_client==7.4.9
jupyter_core==5.1.3
jupyterlab-pygments==0.2.2
MarkupSafe==2.1.2
mistune==2.0.4
mypy-extensions==0.4.3
nbclient==0.7.2
nbconvert==7.2.8
nbformat==5.7.3
nbsphinx==0.8.12
nest-asyncio==1.5.6
packaging==23.0
pandocfilters==1.5.0
pathspec==0.10.3
platformdirs==2.6.2
pluggy==1.0.0
Pygments==2.14.0
pyrsistent==0.19.3
pystache==0.6.0
pytest==7.2.1
python-dateutil==2.8.2
pytz==2022.7.1
pywin32==305
pyzmq==25.0.0
requests==2.28.2
ruff @ file:///D:/bld/ruff_1673600299520/work/target/wheels/ruff-0.0.220-py3-none-win_amd64.whl
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.3.0
sphinx-rtd-theme==1.1.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
tqdm==4.64.1
traitlets==5.8.1
typing_extensions==4.4.0
urllib3==1.26.14
webencodings==0.5.1
wincertstore==0.2
zipp==3.11.0
