# Add here the requirements
transformers
pandas
numpy
torch
customtkinter

# Developments: formatter, linter, builder, make docs, pre-commit
black
ruff
pre-commit
build
pipreqs
requests
sphinx
sphinx-theme
